@inherits UmbracoViewPage<IPublishedContent>
@{
	var homePage = Model.Site();
    var settings = homePage.Descendants("globalSettings").FirstOrDefault();
	var contactNumber = settings.GetPropertyValue<string>("contactNumber");
	if(Model.Children.Count() == 0)
	{
		return;
	}
}
<div class="c-our-team o-section c-rte">
	<div class="o-wrap o-wrap--large u-clearfix">
		<h2 class="c-our-team__title u-beta">Our Team</h2>
		@if(!string.IsNullOrWhiteSpace(contactNumber))
		{
			<a href="@contactNumber.Replace(" ", "")" class="c-our-team__contact u-gamma">@contactNumber</a>
		}
		<div class="c-our-team__wrapper u-clearfix">
			@foreach(var item in Model.Children)
			{
				var image = item.GetPropertyValue<int>("memberImage");
				var name  = item.GetPropertyValue<string>("memberName");
				var email = item.GetPropertyValue<string>("memberEmail");
				var phone = item.GetPropertyValue<string>("memberPhoneExt");
				var job   = item.GetPropertyValue<string>("memberJobTitle");
				<div class="c-our-team__item">
					@* Only Render item if there is an image *@
					@if(image != 0)
					{
						<a class="c-our-team__image" href="@item.Url">
							<img src="@Umbraco.TypedMedia(image).GetCropUrl("3:4")" class="c-team__image">
							<span class="c-our-team__hover-state"></span>
						</a>
						<div class="c-our-team__info">
							@if(!string.IsNullOrWhiteSpace(name))
							{
								<h3 class="c-our-team__info__name u-delta">@name</h3>
							}
							@if(!string.IsNullOrWhiteSpace(contactNumber) && !string.IsNullOrWhiteSpace(phone))
							{
								<a href="tel:@contactNumber.Replace(" ","")" class="c-our-team__info__ext">Ext: @phone</a>
							}
							@if(!string.IsNullOrWhiteSpace(job))
							{
								<p class="c-our-team__job">@job</p>
							}
							@if(!string.IsNullOrWhiteSpace(email))
							{
								<a href="mailto:@email" class="c-our-team__email">Email</a>
							}
						</div>
					}
				</div>
			}
		</div>
	</div>
</div>
