@inherits UmbracoViewPage<IPublishedContent>
@{
	Layout = "Layout.cshtml";
}
<main id="main" class="o-page__inner u-clearfix c-header__margin-top" role="main">
	<div class="c-page__wrapper">
	    @Html.Partial("~/Views/Partials/Components/Hero.cshtml", new HeroViewModel
		{
			ImageId = Model.GetPropertyValue<int>("pageImage"),
			Headline = Model.HasValue("headline") ? Model.GetPropertyValue<string>("headline") : Model.Name,
			Copy = Model.GetPropertyValue<string>("pageDescription")
		})
		@Html.Partial("~/Views/Partials/Components/AboutFeatured.cshtml")
		@Html.Partial("~/Views/Partials/Components/AboutOurTeam.cshtml")
		@Html.Partial("~/Views/Partials/Components/OurTeam.cshtml")
	    @Html.Partial("~/Views/Partials/Components/CallToAction.cshtml")
	</div>
</main>
@Html.Partial("~/Views/Partials/Components/Search.cshtml")
